/* icons */
@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.woff?2ukxk") format("woff");
  src: url("../fonts/icons.woff?2ukxk") format("woff"), url("../fonts/icons.eot?2ukxk#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?2ukxk") format("truetype"), url("../fonts/icons.svg?2ukxk#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  content: "";
  font-family: "icons";
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e910";
}

.icon-menu:before {
  content: "\e900";
}

.icon-facebook:before {
  content: "\e901";
}

.icon-instagram:before {
  content: "\e902";
}

.icon-skilldrive:before {
  content: "\e903";
}

.icon-vkontakte:before {
  content: "\e904";
}

.icon-caret:before {
  content: "\e905";
}

.icon-close:before {
  content: "\e906";
}

.icon-dot:before {
  content: "\e907";
}

.icon-dollar:before {
  content: "\e908";
}

.icon-money:before {
  content: "\e909";
}

.icon-percent:before {
  content: "\e911";
}

.icon-sale:before {
  content: "\e912";
}

/* end of icons */
@font-face {
  src: url("../fonts/Roboto-Regular.ttf");
  font-family: "Roboto";
}

.section-register {
  text-align: center;
}

.section-register__container {
  width: 100%;
  max-width: 964px;
  margin: 0 auto;
  max-width: 1140px;
  height: 730px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

@media (max-width: 375px) {
  .section-register__container {
    width: 100%;
    height: 520px;
    justify-content: flex-end;
  }
}

.section-register__header {
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  text-align: center;
  text-align: left;
  line-height: 77px;
  max-width: 670px;
  width: 100%;
}

@media (max-width: 375px) {
  .section-register__header {
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
  }
}

@media (max-width: 375px) {
  .section-register__header {
    line-height: 38px;
    padding: 40px 20px 10px;
  }
}

.section-register__content {
  font-size: 24px;
  line-height: 35px;
  max-width: 925px;
  text-align: left;
  padding: 30px 0px 40px 0px;
  max-width: 532px;
}

@media (max-width: 375px) {
  .section-register__content {
    font-size: 16px;
    line-height: 24px;
    padding: 0px 20px;
  }
}

.section-register:before {
  content: "";
  background: url("../css/img/car001.png") no-repeat;
  position: absolute;
  height: 812px;
  width: 900px;
  top: 0;
  z-index: -1;
  right: 0;
}

@media (max-width: 375px) {
  .section-register:before {
    background: url("../css/img/car001-small.png") no-repeat;
    width: 375px;
  }
}

.section-info {
  height: 1468px;
}

@media (max-width: 375px) {
  .section-info {
    height: 1029px;
  }
}

.section-info__container {
  width: 100%;
  max-width: 964px;
  margin: 0 auto;
  max-width: 1140px;
  height: 100%;
}

.section-info__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section-info__list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 375px) {
  .section-info__list-item {
    flex-direction: column;
    padding: 20px 30px 20px 30px;
  }
}

.section-info__list-item:nth-child(2n) {
  flex-direction: row-reverse;
}

@media (max-width: 375px) {
  .section-info__list-item:nth-child(2n) {
    flex-direction: column;
  }
}

.section-info__list-header {
  font-size: 48px;
  line-height: 58px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: center;
  text-align: left;
}

@media (max-width: 375px) {
  .section-info__list-header {
    font-size: 24px;
    line-height: 29px;
  }
}

@media (max-width: 375px) {
  .section-info__list-image {
    width: 246px;
  }
}

.section-info__list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 420px;
  width: 100%;
}

@media (max-width: 375px) {
  .section-info__list-container {
    padding: 25px 0px 0px 0px;
  }
}

.section-info__list-content {
  font-size: 20px;
  line-height: 147.3%;
  color: #1B1B1B;
  padding: 20px 0px;
}

@media (max-width: 375px) {
  .section-info__list-content {
    font-size: 14px;
  }
}

.section-rent {
  text-align: center;
  height: 552px;
  background-color: #F7F9FB;
}

@media (max-width: 375px) {
  .section-rent {
    height: 287px;
  }
}

.section-rent__container {
  width: 100%;
  max-width: 964px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-rent__header {
  font-size: 48px;
  line-height: 58px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: center;
  padding: 0px 0px 80px 0px;
}

@media (max-width: 375px) {
  .section-rent__header {
    font-size: 24px;
    line-height: 29px;
  }
}

@media (max-width: 375px) {
  .section-rent__header {
    padding: 0px;
  }
}

.section-rent__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
}

@media (max-width: 375px) {
  .section-rent__list {
    flex-direction: column;
  }
}

.section-rent__list-item {
  font-size: 24px;
  line-height: 147.3%;
  width: 150px;
  position: relative;
}

@media (max-width: 375px) {
  .section-rent__list-item {
    font-size: 14px;
    width: 100%;
    height: 60px;
    text-align: left;
  }
}

.section-rent__list-item:before {
  content: attr(data-number);
  width: 28px;
  height: 38px;
  background-color: #61A199;
  border-radius: 50%;
  display: inline-block;
  color: #FFFFFF;
  margin: 0px auto 26px;
  font-size: 48px;
  padding: 35px 40px;
  z-index: 1;
  position: relative;
}

@media (max-width: 375px) {
  .section-rent__list-item:before {
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    width: 12px;
    height: 20px;
    padding: 6px 10px;
  }
}

.section-rent__list-item:not(:last-child):after {
  content: "";
  border-top: 1px dashed #9d9aac;
  width: 200%;
  height: 100%;
  position: absolute;
  display: flex;
  top: 25%;
  transform: translate(25%, 8px);
  z-index: 0;
}

@media (max-width: 375px) {
  .section-rent__list-item:not(:last-child):after {
    border-top: 0px;
    border-left: 1px dashed #9d9aac;
    transform: translate(35px, 8px);
  }
}

.section-rentout {
  text-align: center;
  height: 618px;
}

@media (max-width: 375px) {
  .section-rentout {
    height: 397px;
  }
}

.section-rentout__container {
  width: 100%;
  max-width: 964px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-rentout__header {
  font-size: 48px;
  line-height: 58px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: center;
  padding: 0px 0px 21px 0px;
}

@media (max-width: 375px) {
  .section-rentout__header {
    font-size: 24px;
    line-height: 29px;
  }
}

.section-rentout__content {
  padding: 0px 0px 80px 0px;
  font-size: 24px;
  line-height: 147.3%;
}

@media (max-width: 375px) {
  .section-rentout__content {
    font-size: 14px;
    text-align: left;
    padding: 0px 20px 0px;
  }
}

.section-rentout__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
}

@media (max-width: 375px) {
  .section-rentout__list {
    flex-direction: column;
  }
}

.section-rentout__list-item {
  font-size: 24px;
  line-height: 147.3%;
  width: 190px;
  position: relative;
}

@media (max-width: 375px) {
  .section-rentout__list-item {
    font-size: 14px;
    width: 100%;
    height: 60px;
    text-align: left;
  }
}

.section-rentout__list-item:nth-child(1):before {
  content: "\e912";
  width: 38px;
  padding: 35px 35px;
}

@media (max-width: 375px) {
  .section-rentout__list-item:nth-child(1):before {
    width: 12px;
    height: 20px;
    padding: 6px 10px;
  }
}

.section-rentout__list-item:nth-child(2):before {
  content: "\e908";
  width: 18px;
  padding: 35px 45px;
}

@media (max-width: 375px) {
  .section-rentout__list-item:nth-child(2):before {
    width: 8px;
    height: 20px;
    padding: 6px 12px;
  }
}

.section-rentout__list-item:nth-child(3):before {
  content: "\e911";
  width: 38px;
  padding: 35px 35px;
}

@media (max-width: 375px) {
  .section-rentout__list-item:nth-child(3):before {
    width: 12px;
    height: 20px;
    padding: 6px 10px;
  }
}

.section-rentout__list-item:nth-child(4):before {
  width: 47px;
  padding: 35px 30px;
  content: "\e909";
}

@media (max-width: 375px) {
  .section-rentout__list-item:nth-child(4):before {
    width: 16px;
    height: 20px;
    padding: 6px 8px;
  }
}

.section-rentout__list-item:before {
  font-family: "icons";
  background-color: #61A199;
  border-radius: 50%;
  display: block;
  color: #FFFFFF;
  margin: 0px auto 26px;
  height: 38px;
  font-size: 38px;
  z-index: 1;
  position: relative;
}

@media (max-width: 375px) {
  .section-rentout__list-item:before {
    display: inline-block;
    margin: 20px;
    font-size: 12px;
    font-weight: bold;
  }
}

.section-rentout__list-item:not(:last-child):after {
  content: "";
  border-top: 1px dashed #9d9aac;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  top: 25%;
  transform: translate(50%, 8px);
  z-index: 0;
}

@media (max-width: 375px) {
  .section-rentout__list-item:not(:last-child):after {
    border-top: 0px;
    border-left: 1px dashed #9d9aac;
    transform: translate(35px, 8px);
  }
}

.section-tryout__container {
  width: 100%;
  max-width: 964px;
  margin: 0 auto;
  height: 762px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 375px) {
  .section-tryout__container {
    height: 519px;
  }
}

.section-tryout__header {
  font-size: 48px;
  line-height: 58px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: center;
  padding: 56px 0px 40px 0px;
}

@media (max-width: 375px) {
  .section-tryout__header {
    font-size: 24px;
    line-height: 29px;
  }
}

.section-tryout__image {
  width: 100%;
  height: 100%;
  max-width: 397px;
  max-height: 300px;
}

@media (max-width: 375px) {
  .section-tryout__image {
    max-width: 265.99px;
    max-height: 201px;
  }
}

/*# sourceMappingURL=Home.css.map */