$breakpoints: (
  'xsmall': (max-width: 375px),
  'small': (max-width: 576px),
  'medium': (max-width: 768px),
  'large': (max-width: 992px)
);

$black-100: #000000;
$white-100: #FFFFFF;
$gray-dark: #1B1B1B;
$gray-light: #F7F9FB;
$green: #61A199;

$header-height: 68px;

$h1-font-size: 64px;

$h2-font-size: 48px;
$h2-line-height: 58px;

$section-max-width: 964px;

$section-image-maxwidth: 397px;
$section-image-maxheight: 300px;
