@import "mixins";

.section-registration-success {

  padding: 103px 0px 100px;
  width: 100%;
  max-width: 676px;
  margin: 0 auto;
  text-align: center;

  &__header {
    @include h1;
    line-height: 77px;
    padding: 61px 0px 30px 0px;

    @include respond-to("xsmall") {
      padding: 42px 0px 15px 0px;
    }
  }

  &__image {
    @include respond-to("xsmall") {
      width: 307px;
    }
  }

  &__text {
    font-size: 24px;
    text-align: center;
    padding: 0px 0px 114px;
    line-height: 147.3%;

    @include respond-to("xsmall") {
      font-size: 16px;
      padding: 0px 20px;
    }
  }

  &__button {
    @include button($white-100, $green, $green);
    padding: 12px 30px;
    width: 237px;
    height: 43px;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;

    @include respond-to("xsmall") {
      width: calc(100% - 40px);
      margin: 64px 20px 25px;
    }

    &:hover {
      @include button($green, $white-100, $green);
      transition: all 0.1s ease-in;
    }
  }
}
